<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="VM Maps Suite" parallel="tests" thread-count="2">
	
	<listeners>
        <listener class-name="testCases.Listener"/>
    </listeners>
	
	    <!-- Flow 1: Login → Dashboard → Alert -->
	<test name="Vm Trackers GPS Application Test Flow 2">
		<!-- <groups>
			<run>
				<include name="functional" />
				<include name="smoke" />
			</run>
		</groups> -->

		<classes>
			<class name="testCases.Login_func_test" />
			<class name="testCases.Dashboard_func_test" />
			<class name="testCases.Alert_func_test"/>
		</classes>
	</test>
	
	 <!-- Flow 1: Login → Dashboard → GPS Device -->
	<test name="Vm Trackers GPS Application Test Flow 1">
		<!-- <groups>
			<run>
				<include name="functional" />
				<include name="smoke" />
			</run>
		</groups> -->

		<classes>
			<class name="testCases.Login_func_test" />
			<class name="testCases.Dashboard_func_test" />
			<class name="testCases.GPS_device_test" />
		</classes>
	</test>
	
</suite>

